{% extends "_layouts/s_base.html" %}
{% block title %}ออกแต้ม · {{ shop.name }} · TaemDee{% endblock %}

{% block content %}
  {% if not (branches_count > 1) %}{% set branch_label = None %}{% endif %}
  {% include "_partials/s3_top.html" %}

  {% include "_partials/issue_hub.html" %}

  {% include "_partials/feed_detail_sheet.html" %}
{% endblock %}

{% block td_class %} td-tabbed td-issue{% endblock %}

{% block nav %}
  {% set nav_active = 'home' %}
  {% include "_partials/glass_nav.html" %}
{% endblock %}
